@font-face {
    font-family: 'Noto Serif';
    src: url('../font/noto.woff2')
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #fff;
    color: #3a4145;
    font-family: "Noto Serif";
    font-size: 20px;
}


header {
    margin: 0;
    padding: 2rem 0;
    background-color: #303538;

    width: 100%;
    color: #fff;
}

header a {
    color: white;
}
#profile-photo {

    width: 160px;
    height: auto;
    margin: 0.8rem auto;
    margin-top: 3rem;
    display: block;


}

main {

}

main nav {
    position: absolute;
    top: 28rem;
    margin: 4rem;
    color: #50585d;
    font-family: "Open Sans";
    font-size: 1.2rem;

}
main nav a{
    color: inherit;
    text-decoration: none;
}

.posts {
    width: 750px;
    height: 100%;
    margin: 0px auto;
    padding: 100px;

}

article .pub-date, .tags, .tag {
    color: #9eabb3;
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

header {
    text-align: center;

}

header h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 3rem;
    font-family: "Noto Serif";

}

header i {
    font-size: 1.4rem;
    margin: 0.2rem;

}

h1 {
    font-family: "Open Sans";
    font-size: 2.5rem;
    margin: 0.1rem;

}
article h1 a{
    text-decoration: none;
    color: #50585d;
}

article h1 {
    font-family: "Open Sans";
    font-size: 2.5rem;
    color: #50585d;
    text-decoration: none;

}

/* NOTE:
h1 {
    font-family: 'Simplifica';
    font-size: 88px;

}
h2 {
    font-family: 'Simplifica';
    font-size: 601px;
}

p {
        font-family: 'Helvetica Neue';
        font-size: 24px;
}

*/

article {
    border-bottom: #ebf2f6 1px solid;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

}



@media only screen and (max-width: 1600px){
    main nav {
        position: inherit;
        margin: 2rem;

    }
    main .posts {
        margin: 0px auto;
        padding: 10px;
        width: 90%;
        max-width: 750px;
        min-width: 300px;
    }
}
