{% extends 'base.html' %}

{% block heading %}
<h1>Blog</h1>
<h2>Relatos de um garoto de programa</h2>
{% endblock %}

{% block body %}
<main>
    <section class="posts">
        {% for post in posts %}
        <article class="post">
            <small class="pub-date">{{ post.created_at }}</small>
            <h1><a href="/post/{{post.slug}}">{{  post.title }}</a></h1>

            <p>{{ post.content_markdown | safe }}</p>
            <small class="tags"> Tags:{% for tag in post.tags.all %} <span class="tag">{{ tag }}</span>{% endfor %}</small>

        </article>


        {% endfor %}

    </section>
</main>
{% endblock %}
