{% extends 'base.html' %}

{% block heading %}
<h1>Projeto Adão</h1>
<h2>A construção de um assistente virtual</h2>
{% endblock %}

{% block body %}

<main>

    <nav>
        {% if project_menu %}
            {{ project_menu.content_markdown | safe }}
        {% else %}
        <ul>
            <li><a href="/post/introducao-adao">Introdução</a></li>
            <li><a href="/post/primeira-rodada">Rodada 1</a></li>
            <ul>
                <li>Blog</li>
                <li>Gerenciador financeiro</li>

            </ul>
        </ul>
        {% endif %}
    </nav>
    <section class="posts">
        {% for post in posts %}
        <article class="post">
            <small class="pub-date">{{ post.created_at }}</small>
            <h1><a href="/post/{{post.slug}}">{{  post.title }}</a></h1>

            <p>{{ post.content_markdown | safe }}</p>
            <small class="tags"> Tags:{% for tag in post.tags.all %} <span class="tag">{{ tag }}</span>{% endfor %}</small>

        </article>


        {% endfor %}

    </section>
</main>
{% endblock %}
